<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
  </head>
  <body>

    <script type="systemjs-importmap">
      {
        "imports": {
          "@portal/config": "/config-<%= VERSION %>.js",
          "@portal/navbar": "/navbar/navbar-<%= VERSION %>.js",
          "@portal/dog": "/dog/dog-<%= VERSION %>.js",
          "@portal/cat": "/cat/cat-<%= VERSION %>.js"
        }
      }
    </script>
    <script src='https://unpkg.com/systemjs@4.1.0/dist/system.js'></script>
    <script src='https://unpkg.com/systemjs@4.1.0/dist/extras/amd.js'></script>
    <script src='https://unpkg.com/systemjs@4.1.0/dist/extras/named-exports.js'></script>
    <script src='https://unpkg.com/systemjs@4.1.0/dist/extras/use-default.js'></script>

    <!-- Load the common deps-->
    <script src="/common-deps/common-deps-<%= VERSION %>.js"></script>

    <!-- Load the application -->
    <script>
      System.import('@portal/config')
    </script>

    <!-- Static navbar -->
    <div id='navbar'></div>
    <div id='dog'></div>
    <div id='cat'></div>

  </body>
</html>
